exportPattern("^[[:alpha:]]+")
import("mgcv","RColorBrewer","lasso2","Formula")
importFrom("graphics", "legend", "lines", "par", "plot")
importFrom("stats", "AIC", "BIC", "formula", "gaussian", "median","quantile",
             "model.frame", "predict", "update.formula")